@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

nav {
  position: fixed;
  top: 0;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  height: 72px;
  width: 100vw;
  background: #3e3c3c;
  color: #fff;
  display: flex;
  align-items: center;
}

nav .start {
  flex: 10 10 10%;
}

nav .name {
  min-width: 216px;
  flex: 10 10 10%;
  flex-wrap: nowrap;
}

nav .name .sandwich {
  display: none;
}

nav .center {
  flex: 45 45 45%;
}

nav ul {
  flex: 15 15 15%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  flex: 1;
  min-width: 81px;
}

nav .end {
  flex: 10 10 10%;
}

nav ul .email-icon {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  nav ul > *,
  nav .start,
  nav .ul,
  nav .center,
  nav.end {
    display: none;
  }

  nav .name {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
  }

  nav .name img {
    width: 60%;
  }

  nav .name .sandwich {
    display: block;
  }
}

/* Styling for headline  */

.headline {
  display: flex;
  width: 100vw;
  height: 798px;
  align-items: center;
  background-color: #1c1a19;
  background-image: url(./assets/images/Illustration-header.png);
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.headline .social {
  order: 1;
  margin-left: 35px;
}

.headline .social ul {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline .content {
  order: 1;
  width: 566px;
  margin-left: 87px;
}

.headline .content h1 {
  font-family: 'Crete Round', sans-serif;
  color: #f55800;
  font-size: 72px;
}

.headline .content h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}

.headline .content p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  font-weight: 400;
}

.headline .background {
  order: 1;
  height: 100%;
  min-width: 530px;
}

@media only screen and (max-width: 600px) {
  .headline {
    justify-content: center;
    flex-direction: column;
    background-image: url('./assets/images/illustration-header-mobile.png');
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    background-size: 190px;
  }

  .headline .background {
    display: none;
  }

  .headline .content {
    margin: 0 auto;
    max-width: 328px;
    width: 100%;
  }

  .headline .content h1 {
    font-size: 56px;
    line-height: 64px;
  }

  .headline .content h2 {
    margin-top: 12px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .headline .content p {
    margin-top: 12px;
    margin-bottom: 20px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .headline .social {
    margin-left: 15px;
    align-self: flex-start;
    height: 20px;
    order: 2;
  }

  .headline .social img {
    display: inline-block;
  }

  .headline .social ul {
    flex-direction: row;
    justify-content: flex-start;
  }

  .headline .social ul li {
    padding-left: 1.3rem;
  }
}

/* Styling for works section */

.works {
  width: 100%;
  margin: 10% 10%;
}

.works .title {
  width: 1133px;
  display: flex;
  align-items: center;
}

.works .title h2 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  min-width: 350px;
}

.works .title .separator {
  flex: 1 1 790px;
  height: 0;
  border: 1px solid #212121;
}

.works .featured {
  color: #091e42;
  margin-top: 114px;
  display: flex;
  gap: 24px;
}

.works .featured .image {
  width: 684px;
}

.works .featured .content {
  width: 448px;
}

.works .featured h3 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
}

.works .featured p {
  margin-top: 24px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.works .featured .tags {
  display: flex;
}

.works .featured .tags a {
  display: inline-block;
  margin-top: 24px;
  margin-right: 12px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.works .featured button {
  margin-top: 24px;
  padding: 12px;
  color: #fff;
  background-color: #f55800;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.cards-wrapper {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  row-gap: 37px;
  column-gap: 24px;
}

.cards-wrapper .card {
  width: 369px;
  height: 435px;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 84.18%
    ),
    url('./assets/images/card-placeholder.png');
  background-repeat: no-repeat;
  background-position: center;
}

.cards-wrapper .card h4 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
}

.cards-wrapper .card p {
  margin-top: 24px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}

.cards-wrapper .card .tags {
  display: flex;
}

.cards-wrapper .card .tags a {
  display: inline-block;
  margin-top: 24px;
  margin-right: 12px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
}

.cards-wrapper .card button {
  margin-top: 24px;
  padding: 12px;
  color: #fff;
  background-color: #f55800;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  height: 58px;
  display: none;
}

.cards-wrapper .card:hover {
  padding: 0;
  background: url('./assets/images/card-placeholder.png');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000;
}

.cards-wrapper .card:hover .content {
  display: none;
}

.cards-wrapper .card:hover button {
  display: block;
}

@media only screen and (max-width: 600px) {
  .works {
    width: 375px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .works .title {
    width: 327px;
    margin-top: 120px;
    display: block;
  }

  .works .title h2 {
    padding-bottom: 12px;
    font-family: Crete Round, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
  }

  .works .title .separator {
    margin-top: 24px;
    height: 0;
    border: 0.5px solid #212121;
  }

  .works .featured .content {
    width: 327px;
  }

  .works .featured .image {
    width: 327px;
  }

  .works .featured .image img {
    width: 327px;
    display: block;
  }

  .works .featured {
    width: 327px;
    margin-top: 80px;
    flex-direction: column;
    gap: 24px;
  }

  /* featured */
  .works .featured h3 {
    margin-top: 24px;
    font-size: 32px;
    line-height: 44px;
  }

  .works .featured p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
  }

  .works .featured .tags a {
    margin-top: 12px;
    margin-right: 10px;
  }

  .works .featured button {
    margin-top: 24px;
    padding: 12px;
    background-color: #ff6b00;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }

  .cards-wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 386px);
    row-gap: 24px;
    column-gap: 0;
  }

  .cards-wrapper .card {
    padding: 0;
    width: 327px;
    height: 386px;
  }

  .cards-wrapper .card h4 {
    padding: 0 16px;
    text-align: left;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .cards-wrapper .card p {
    margin-top: 12px;
    padding: 0 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .cards-wrapper .card .tags a {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 12px;
  }

  .cards-wrapper .card button {
    margin-top: 22px;
    display: block;
  }
}

/* About Me styles */

.about-me {
  padding-top: 130px;
  width: 100vw;
  color: #fff;
  background-color: #262626;
  background-image: url('./assets/images/about-me-back.png');
  background-repeat: no-repeat;
  background-position: top 100px right 0;
}

.about-me .about-wrapper {
  width: 1157px;
  margin: 0 10%;
}

.about-me .about-wrapper .about-content {
  max-width: 566px;
}

.about-me .about-wrapper .about-content h2 {
  color: #f55800;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 81px;
}

.about-me .about-wrapper .about-content p {
  margin-top: 24px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #f4f5f7;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.about-me .about-wrapper .about-content button {
  margin-top: 24px;
  padding: 12px;
  color: #fff;
  background-color: #f55800;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.about-me .about-wrapper .separator {
  margin-top: 139px;
  max-width: 1156px;
  border: 1px solid #fff;
  content: "";
}

.about-me .about-wrapper .details {
  margin-top: 146px;
}

.about-me .about-wrapper .skills {
  display: grid;
  grid-gap: 176px;
  grid-template-columns: repeat(3, 235px);
  padding-bottom: 142px;
}

.about-me .about-wrapper .skills .skill .skill-title {
  display: flex;
  gap: 12px;
  align-items: center;
}

.about-me .about-wrapper .skills .skill h4 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.about-me .about-wrapper .skills .skill .icon-figure {
  background-color: #f55800;
  width: 18px;
  height: 18px;
}

.about-me .about-wrapper .skills .skill .icon-diamond {
  transform: rotate(45deg);
}

.about-me .about-wrapper .skills .skill .icon-circle {
  border-radius: 50%;
}

.about-me .about-wrapper .skills .skill ul {
  margin-top: 44px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
}

/* About Me mobile styles */

@media only screen and (max-width: 600px) {
  .about-me {
    padding-top: 120px;
    background-image: url('./assets/images/about-me-back-mobile.png');
    /* TODO */
    background-position: top 390px right 0;
  }

  .about-me .about-wrapper {
    width: 327px;
    margin: 0 10%;
  }

  .about-me .about-wrapper .about-content h2 {
    color: #ff6b00;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
  }
  
  .about-me .about-wrapper .about-content p {
    margin-top: 24px;
    color: #f4f5f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .about-me .about-wrapper .about-content button {
    margin-top: 24px;
    padding: 12px;
    color: #fff;
    background-color: #ff6b00;
  }
  

  .about-me .about-wrapper .separator {
    margin-top: 209px;
    min-width: 327px;
    border: 1px solid #fff;
    content: "";
  }
}