@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

nav {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  height: 72px;
  width: 100vw;
  background: #3e3c3c;
  color: #fff;
  display: flex;
  align-items: center;
}

nav .start {
  flex: 10 10 10%;
}

nav .name {
  min-width: 216px;
  flex: 10 10 10%;
  flex-wrap: nowrap;
}

nav .center {
  flex: 45 45 45%;
}

nav ul {
  min-width: 325px;
  flex: 15 15 15%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  flex: 1;
  min-width: 81px;
}

nav .end {
  flex: 10 10 10%;
}
